<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" verbose="1" thread-count="2" parallel="tests">

    <test name="FirstTest" parallel="tests">
        <classes>
            <class name="FirstTest" />
        </classes>
    </test>

    <test name="SecondTest" parallel="tests">
        <classes>
            <class name="SecondTest" />
        </classes>
    </test>
</suite>
